<!doctype html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/89d81ed985.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Alkalami&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alkalami&family=Kanit:wght@600&family=Source+Serif+Pro:ital@1&display=swap" rel="stylesheet">  </head>
    <style>
      .bg-custom-2 {
        background-image: linear-gradient(15deg, #137a1f 0%, rgba(8, 145, 8, 0.934) 100%);
        }
    </style>
  <body >
    <nav class="navbar navbar-expand-lg navbar-dark bg-success bg-custom-2" >
      <div class="container-fluid " >
        <a class="navbar-brand text-warning " href="/" style='font-family: "Permanent Marker", sans-serif';><i class="fas fa-gem  text-warning" ></i> My Resturant</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" >
              <a class="nav-link active  " aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active " href="/menu">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active " href="/about">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active " href="/contact">Contact us</a>
            </li>
          </ul>
          <!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light " type="submit">Search</button>
          </form> -->
          <button id="disable" type="button" class="btn btn-warning position-relative shadow" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <i class="fa-solid fa-cart-shopping"></i> CART 
            <span id ="cartno" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
              0
              <span class="visually-hidden">unread messages</span>
            </span>
          </button>
          
          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title text-success" id="staticBackdropLabel"><b>CART</h4></b></h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="alert alert-success" role="alert">
                    Cart for your items in my shopping cart
                  </div>
                  <p id="cartitem" >Empty Cart!</p>
                  <hr class="border border-success border-1 opacity-25">
                  <div >
                    <b><p class="text-success" id="totalp">Total price:0</p></b>
                  </div>
                  <div class="text-end" >
                    <button id="clearcart" type="button" class="btn btn-outline-success btn-sm" onclick="clearcart()">CLear Cart</button>
                  </div>
                </div>
              
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <a href="/checkout" ><button type="button" class="btn btn-success">Check Out</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    {% block body %} 
   <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      
    {% endblock %}
    <!-- Footer -->
    <br>
    <br>
    <footer class="text-center text-lg-start bg-light text-muted" >
      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom text-light">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>My Resturant</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <a href="https://www.facebook.com/rasib.hassan.7" class="me-4 link-secondary">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3 text-secondary"></i>Resturant
              </h6>
              <p>
                A restaurant depicting the legendary grandeur of splendid and noble past. A vivid and conspicuous realization of the glory of our brilliant esthetical essence.
              </p>
              <h6> Working Hours</h6>
              <p> 12:00 Am to 12:00 Pm</p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Products
              </h6>
              <p>
                <a href="#!" class="text-reset">Fast Food</a>
              </p>
              <p>
                <a href="#!" class="text-reset">BBQ</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Pakistani</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Drinks</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Useful links
              </h6>
              <p>
                <a href="/" class="text-reset">Home</a>
              </p>
              <p>
                <a href="/menu" class="text-reset">Menu</a>
              </p>
              <p>
                <a href="/about" class="text-reset">About us</a>
              </p>
              <p>
                <a href="/contact" class="text-reset">Contact us</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p><i class="fas fa-home me-3 text-secondary"></i> Pakistan-PK</p>
              <p>
                <i class="fas fa-envelope me-2 text-secondary"></i>
                mbs128rasib@gmail.com
              </p>
              <p><i class="fas fa-phone me-3 text-secondary"></i>+ 032132313433</p>
              <P><i class="fa-solid fa-location-pin text-secondary me-2"></i> Street1, Gulshan, Karachi</P>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    {% block js %} {% endblock%}
